[submodule "ext/haskoin"]
	path = ext/haskoin
	url = git@github.com:libscott/haskoin.git
	branch = hoek
[submodule "ext/cryptoconditions-hs"]
	path = ext/cryptoconditions-hs
	url = git@github.com:libscott/cryptoconditions-hs.git
